
<section class="py-5  container">
    <div class="row py-lg-5">
    <div class="col-lg-3 col-md-2"></div>
      <div class="col-lg-6 col-md-8 mx-auto">
      <h2 class="fw-dark">Users:<strong><%= @users.count%></strong></h2>
          <% @users.each do |u|%>
       <div class="well">
         <h3>Username: <%= u.name %></h3>
         <div class="">
         <p class="text-center">
         Number of posts: 
         <%= u.posts.count %>
         </p>
         </div>
         <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
         <%= link_to 'show user', user_path(u), class: 'btn-sm btn btn-default' %>
         </div>
      </div>
      <% end %>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </section>



