<section class="py-5  container">
    <div class="row py-lg-5">
    <div class="col-lg-3 col-md-2"></div>
      <div class="col-lg-6 col-md-8 mx-auto">
      <h3>Create Post</h3>
        <%= simple_form_for([@user, @user.posts.build]) do |f| %>
        <%= f.input :title %>
        <%= f.input :text %>
        <%= f.button :submit %>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </section>
